.newsletter {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 2rem;
  border-style: dashed;
  font-size: inherit;
  font-weight: inherit;
  p {
    margin: 0;
    text-align: justify;
  }
  span {
    color: #ff6000;
    font-weight: bold;
  }
}
  
.newsTitle {
  padding-left: .25rem;
  padding-right: .25rem;
  font-size: 1.5em;
  font-weight: bold;
  width: fit-content;
  margin-top: -1.95rem;
  margin-bottom: 1rem;
  background-color: black;
}
  
.form {
  display: flex;
  margin-top: 20px;
  font-size: inherit;
  font-weight: inherit;
}
  
.input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0077b5;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.button:hover {
  background-color: #005fa3;
}

.mt1 {
  margin-top: 0.5rem !important;
}